*{
    margin: 0;
   
}


.container{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 41%, rgba(21,92,197,1) 85%);
    height: 60px;
    display: flex;

}
.logo{
    width: 100px;
    height: 70px;
    background-image:url("assets/F1.jpg");
    background-size:cover;
    background-position: 25%;
    
    }
.contenu{
    margin-left: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:200px;
    margin-right: auto;
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bouton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #000000 5%, #1600ba 100%);
	background-color:#000000;
	border-radius:10px;
	border:1px solid #4bc29c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:20px 15px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    
    
}

.bouton:hover {
	background:linear-gradient(to bottom, #1600ba 5%, #000000 100%);
	background-color:#1600ba;
}
.bouton:active {
	position:relative;
	top:1px;
}

.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}




.banniere{
    height: 800px;
    background-image:url("assets/ryan-spencer-c-NEiPIxpYI-unsplash.jpg");
    background-size:cover;
    background-position: 25%;
    display:flex;
    justify-content:center;
    align-items:top;

}
.slogan{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#76A2E1;
}
.introduction{
    height: 200px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    justify-content:center;
    

}
h1{
    text-align: center;}
    

 h2{
    text-align: center;
    color: white;
    margin-left: 10px;
    text-decoration-line:underline;
 }

 h3{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 60px;
    margin-left: 80px;
    text-decoration-line: underline;
 }


h4{
    text-align: center;
    color: white;
    margin-left: 10px;
    text-decoration-line:underline;

}
.carte-mere{
    
    background-color: black;
    justify-content: center;
    
    
   
}



.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.texte, .texte-Urus,.texte-Rimac,.texte-Bugatti {
    color:white;
    padding-bottom: 50px;
    padding-right: 30px;
}     
.texte-porsche{
    color:#020101;
    padding-bottom: 50px;
    padding-right: 30px;
}
p{
   
    margin-left: 100px;
}
a{
    
    color: white;
    
}
.carte{
    flex-direction:row-reverse;
    border-radius: 20px 20px 20px 20px;
  
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    

}
.image{
    border-radius: 20px 0px  0px 20px ;
    
    width: 600px;
    
}
.texte {
    background-color: #8996A7;
    border-radius: 0px 20px 20px 0px;
}
.description{
    margin-top: 20px;
}

  

.porsche{
    margin-top: 80px;
    flex-direction: row;
    background-color:#E4DBD4;
    color:black;
 
    
}
.Urus{
    margin-top: 80px;
    flex-direction: row;
   background-color: #485454;
   
  

    
}
.Rimac{

    margin-top: 80px;
    flex-direction: row;
    background-color: #B5B2AD;
    height: 650px;
    
    

    
}
.Bugatti{
    margin-top: 80px;
    flex-direction: row;
    background-color: #20373E;
    
  }



  hr{
    height: 100px;
    background-color: black;
    border: none;
  }

footer{

   /* display: flex;  */
    
   /* justify-content: center; */
    
    position:relative;
}
.map{
    
    background-size: cover;
    width: 100%;
   

}

  .info{

     border: 1px solid red;
     height: 600px;
     width: 400px;
     background-color: red;
     color: white;
     position:absolute;
     bottom:50px;
     left:100px;
     margin: 20px;
  
  }
  .horaires{
    margin-bottom: 30px;
    text-align: center;
  }
  .ali{
    text-align: center;
    margin-left: 10px;
  }
.titre-porsche{
    color:black;
}
.titre-marge{
    margin-top: 50px;
}
